In [1]:
import pandas as pd

In [2]:
path1 = "/Users/gongchenyin/PycharmProjects/ra/HireDate-Update/src/氧气项目0617.xlsx"
path2 = "/Users/gongchenyin/PycharmProjects/ra/HireDate-Update/src/总表.xlsx"
path3 = "/Users/gongchenyin/PycharmProjects/ra/HireDate-Update/src/入职日期维护.xlsx"

In [3]:
df1 = pd.read_excel(path1)  # 员工信息表
df2 = pd.read_excel(path2)  # 总表
df3 = pd.read_excel(path3)  # 维护表

In [4]:
def rm_space(s: str):
    """
    Remove space at the begin an the end of the given string, if they exist.

    :param s: the string to be modified
    :return: the modified string

    """
    if not isinstance(s, str):
        return s
    return s.strip()

In [5]:
# 预处理df1
df1 = pd.DataFrame(df1, columns=["二级部门", "部门", "员工号", "岗位名称", "姓名", "入职日期"])

In [6]:
df1.fillna({"二级部门": '-', "部门": '-', "岗位名称": '-', "姓名": '-', "入职日期": '-'}, inplace=True)

In [7]:
df1[["二级部门", "部门", "岗位名称", "姓名", "入职日期"]] \
        = df1[["二级部门", "部门", "岗位名称", "姓名", "入职日期"]].applymap(rm_space)

In [8]:
df1 = df1[df1["岗位名称"].isin(["SPA师", "理疗师", "专家"])]

In [9]:
df1.reset_index(drop=True, inplace=True)

In [10]:
df2.head()

,工号,姓名,岗位,入职日期,出勤,点号合计,销售业绩,工资年月,部门,区域,离职时间,部门YG,入职日期YG
0,180705019.0,窦红梅,技术总监,2018-06-26 00:00:00,7.0,0.0,0.0,2018-09-01,济南段店店,济南区域,NaT,NaN,NaT
1,180705019.0,窦红梅,技术总监,2018-06-26 00:00:00,5.0,0.0,0.0,2018-06-01,济南段店店,济南区域,NaT,NaN,NaT
2,180705019.0,窦红梅,技术总监,2018-06-26 00:00:00,30.0,0.0,0.0,2018-07-01,济南段店店,济南区域,NaT,NaN,NaT
3,180705019.0,窦红梅,技术总监,2018-06-26 00:00:00,30.0,0.0,0.0,2018-08-01,济南段店店,济南区域,NaT,NaN,NaT
4,181008001.0,杨娜,技术总监,NaN,1.0,0.0,0.0,2018-10-01,济南山东大厦店,济南区域,NaT,NaN,NaT

In [11]:
df2["入职日期"][19]

datetime.datetime(2015, 3, 17, 0, 0)

In [12]:
# 预处理df2
df2 = pd.DataFrame(df2, columns=["工号", "姓名", "岗位", "入职日期", "出勤", "点号合计", "销售业绩", "工资年月", "部门", "区域", "离职时间", "部门YG", "入职日期YG"])
df2.fillna({"姓名": '-', "岗位": '-', "部门": '-', "区域": '-', "入职日期": '-', "工资年月": '-',  "离职时间": '-', "部门YG": '-', "入职日期YG": '-'}, inplace=True)
df2[["姓名", "岗位", "部门", "区域", "部门YG"]] = df2[["姓名", "岗位", "部门", "区域", "部门YG"]].applymap(rm_space)
# df2 = df2[df2["岗位"].isin(["SPA师", "理疗师", "专家"])]
# 由于df2 每个员工包含多个observation，可能这个员工从技师变为其他工种，上面的筛选方法就不对了:取反 ～
not_in_id = df2[~df2["岗位"].isin(["SPA师", "理疗师", "专家"])]["工号"]
df2 = df2[~df2["工号"].isin(not_in_id)]
df2.reset_index(drop=True, inplace=True)

In [13]:
df2[df2["姓名"] == "毕立霞"].head(2)

,工号,姓名,岗位,入职日期,出勤,点号合计,销售业绩,工资年月,部门,区域,离职时间,部门YG,入职日期YG
32281,170810002.0,毕立霞,SPA师,2018-11-30 00:00:00,30.0,54.0,4500.00,2019-02-01 00:00:00,嘉兴旭辉广场店,上海区域,-,-,-
32335,170810002.0,毕立霞,SPA师,2018-11-30 00:00:00,24.5,33.0,17979.98,2018-10-01 00:00:00,嘉兴旭辉广场店,上海区域,-,-,-

In [14]:
df_info_id = df1["员工号"].unique()
df_database_id = df2["工号"].unique()
df_2val_id = df3["工号"].unique()

In [15]:
len(df_info_id), len(df_database_id), len(df_2val_id)

(4748, 8338, 0)

In [16]:
df1.head()

   二级部门       部门        员工号  岗位名称   姓名        入职日期
0  华北区域  保定乐凯大街店  180916003  SPA师  唐怀秀  2019-06-04
1  华北区域  保定乐凯大街店  180927012   理疗师   杨乾  2018-09-21
2  华北区域  保定乐凯大街店  190412016   理疗师  王婵媛  2019-04-13
3  华北区域  保定乐凯大街店  190422003   理疗师   郭芳  2019-04-22
4  华北区域  保定乐凯大街店  190422008   理疗师  夏志晴  2019-04-22

In [17]:
df2.head()

,工号,姓名,岗位,入职日期,出勤,点号合计,销售业绩,工资年月,部门,区域,离职时间,部门YG,入职日期YG
0,180304016.0,吴金珠,SPA师,-,0.0,0.0,0.0,2018-04-01 00:00:00,济南山东大厦店,济南区域,-,-,-
1,180304016.0,吴金珠,SPA师,-,14.0,3.0,27600.0,2018-03-01 00:00:00,济南山东大厦店,济南区域,-,-,-
2,170419019.0,宋海群,理疗师,2016-12-06 00:00:00,15.0,24.0,10200.0,2018-02-01 00:00:00,天津永安道店,济南区域,-,-,-
3,180822004.0,张开建,专家,2018-08-11 00:00:00,27.0,0.0,0.0,2018-10-01 00:00:00,济南东环店,济南区域,-,-,-
4,180821017.0,朱丽雅,理疗师,2018-08-07 00:00:00,30.0,22.0,0.0,2019-02-01 00:00:00,银川大阅城店,济南区域,2019-04-02 00:00:00,-,-

In [18]:
df3_temp = df3.copy()

In [19]:
# 新员工--df3中未出现的员工
# 先从df1员工信息表中读取信息
new_list = list(set(df_info_id).difference(set(df_2val_id)))  # df_info_id中有而df_2val_id中没有的
len(new_list)

4748

In [20]:
new_from_info = df1[df1["员工号"].isin(new_list)]

In [21]:
new_from_info.head()

   二级部门       部门        员工号  岗位名称   姓名        入职日期
0  华北区域  保定乐凯大街店  180916003  SPA师  唐怀秀  2019-06-04
1  华北区域  保定乐凯大街店  180927012   理疗师   杨乾  2018-09-21
2  华北区域  保定乐凯大街店  190412016   理疗师  王婵媛  2019-04-13
3  华北区域  保定乐凯大街店  190422003   理疗师   郭芳  2019-04-22
4  华北区域  保定乐凯大街店  190422008   理疗师  夏志晴  2019-04-22

In [22]:
new_from_info = new_from_info[["员工号", "姓名", "岗位名称", "二级部门", "部门", "入职日期"]]

In [23]:
new_from_info.head()

         员工号   姓名  岗位名称  二级部门       部门        入职日期
0  180916003  唐怀秀  SPA师  华北区域  保定乐凯大街店  2019-06-04
1  180927012   杨乾   理疗师  华北区域  保定乐凯大街店  2018-09-21
2  190412016  王婵媛   理疗师  华北区域  保定乐凯大街店  2019-04-13
3  190422003   郭芳   理疗师  华北区域  保定乐凯大街店  2019-04-22
4  190422008  夏志晴   理疗师  华北区域  保定乐凯大街店  2019-04-22

In [24]:
new_from_info = new_from_info.rename(columns={"员工号": "工号", "岗位名称": "当前岗位", "二级部门": "当前区域", 
                                              "部门": "当前部门", "入职日期": "当前职位开始日期"})

In [25]:
new_from_info.head()

          工号   姓名  当前岗位  当前区域     当前部门    当前职位开始日期
0  180916003  唐怀秀  SPA师  华北区域  保定乐凯大街店  2019-06-04
1  180927012   杨乾   理疗师  华北区域  保定乐凯大街店  2018-09-21
2  190412016  王婵媛   理疗师  华北区域  保定乐凯大街店  2019-04-13
3  190422003   郭芳   理疗师  华北区域  保定乐凯大街店  2019-04-22
4  190422008  夏志晴   理疗师  华北区域  保定乐凯大街店  2019-04-22

In [26]:
# 新员工的“最早加入公司日期”就是“当前职位开始日期”
new_from_info["最早加入公司日期"] = new_from_info["当前职位开始日期"]
new_from_info.insert(7, "离职时间", "-")

In [27]:
df3

Empty DataFrame
Columns: [工号, 姓名, 当前岗位, 当前区域, 当前部门, 当前职位开始日期, 最早加入公司日期, 离职时间]
Index: []

In [28]:
new_from_info.head()

          工号   姓名  当前岗位  当前区域     当前部门    当前职位开始日期    最早加入公司日期 离职时间
0  180916003  唐怀秀  SPA师  华北区域  保定乐凯大街店  2019-06-04  2019-06-04    -
1  180927012   杨乾   理疗师  华北区域  保定乐凯大街店  2018-09-21  2018-09-21    -
2  190412016  王婵媛   理疗师  华北区域  保定乐凯大街店  2019-04-13  2019-04-13    -
3  190422003   郭芳   理疗师  华北区域  保定乐凯大街店  2019-04-22  2019-04-22    -
4  190422008  夏志晴   理疗师  华北区域  保定乐凯大街店  2019-04-22  2019-04-22    -

In [29]:
df3 = pd.concat((df3, new_from_info), sort=False)
df3.reset_index(drop=True, inplace=True)

In [30]:
df3.head()

          工号   姓名  当前岗位  当前区域     当前部门    当前职位开始日期    最早加入公司日期 离职时间
0  180916003  唐怀秀  SPA师  华北区域  保定乐凯大街店  2019-06-04  2019-06-04    -
1  180927012   杨乾   理疗师  华北区域  保定乐凯大街店  2018-09-21  2018-09-21    -
2  190412016  王婵媛   理疗师  华北区域  保定乐凯大街店  2019-04-13  2019-04-13    -
3  190422003   郭芳   理疗师  华北区域  保定乐凯大街店  2019-04-22  2019-04-22    -
4  190422008  夏志晴   理疗师  华北区域  保定乐凯大街店  2019-04-22  2019-04-22    -

In [31]:
df1.head()

   二级部门       部门        员工号  岗位名称   姓名        入职日期
0  华北区域  保定乐凯大街店  180916003  SPA师  唐怀秀  2019-06-04
1  华北区域  保定乐凯大街店  180927012   理疗师   杨乾  2018-09-21
2  华北区域  保定乐凯大街店  190412016   理疗师  王婵媛  2019-04-13
3  华北区域  保定乐凯大街店  190422003   理疗师   郭芳  2019-04-22
4  华北区域  保定乐凯大街店  190422008   理疗师  夏志晴  2019-04-22

In [32]:
# 对df3中已有的，更新当前职位开始日期
old_list =  list(set(df_2val_id).difference(set(new_list)))
for i in old_list:
    index1 = df3[df3["工号"] == i].index.tolist()[0]
    index2 = df1[df1["员工号"] == i].index.tolist()[0]
    date1 = df3.loc[index1]["当前职位开始日期"]
    date2 = df1.loc[index2]["入职日期"]
    if date1 < date2:  # 原日期date1早于新日期date2时，更新原日期
        date1 = date2

In [33]:
df3.head()

          工号   姓名  当前岗位  当前区域     当前部门    当前职位开始日期    最早加入公司日期 离职时间
0  180916003  唐怀秀  SPA师  华北区域  保定乐凯大街店  2019-06-04  2019-06-04    -
1  180927012   杨乾   理疗师  华北区域  保定乐凯大街店  2018-09-21  2018-09-21    -
2  190412016  王婵媛   理疗师  华北区域  保定乐凯大街店  2019-04-13  2019-04-13    -
3  190422003   郭芳   理疗师  华北区域  保定乐凯大街店  2019-04-22  2019-04-22    -
4  190422008  夏志晴   理疗师  华北区域  保定乐凯大街店  2019-04-22  2019-04-22    -

In [5]:
import pandas as pd
df2 = pd.DataFrame({ 'A' : 1., 'B' : pd.Timestamp('20130102'), 'C' : pd.Series(1,index=list(range(4)),dtype='float32')
                   })

In [10]:
df1 = pd.DataFrame({ 'A' : 1., 'B' : pd.Timestamp('20130102'), 'C' : pd.Series(1,index=list(range(4)),dtype='float32')
                   })

In [24]:
df1.sort_values(by="C")

     A          B    C
0  1.0 2013-01-02  1.0
1  1.0 2013-01-02  1.0
2  1.0 2013-01-02  1.0
3  1.0 2013-01-02  1.0